@import "tailwindcss";

@theme {
  --color-indigo-200: #5b4dff;
  --color-indigo-700: #2f1673;
  --color-indigo-50: #c8b6fa;
  --color-white-200: rgba(255, 255, 255, 0.8);
  --color-white-250: rgba(224, 224, 224, 1);
  --color-black-200: rgba(57, 57, 57, 1);
  --color-black-500: rgba(0, 0, 0, 0.5);
  --color-gray-200: #c2c2c2;
  --color-gray-500: rgba(194, 194, 194, 1);
  --color-green-50: #3cd143;
  --leading-5: 1.125rem;
  --spacing-11: 2.625rem;
  --text-base: 0.875rem;
  --text-xxs: 0.5rem
}

* {
  text-align: right;
}
html,
body,
#root {
  width: 100vw;
  height: 100vh;
}

[role="button"], button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-track {
  background: #f0f0f0; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}